* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
    height: 100%;
}
.wrapper {
    max-width: 1200px;
    min-height: 400px;
    margin: auto;
    background-color: white;
    text-align: center;
}
.navbar-inner {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.navbar-brand {
    font-family: 'Libre Barcode 128 Text', 'cursive';
    font-size: 2em;
    text-transform: lowercase;
}
.navbar-toggler {
    float: right;
    margin-top: 2%;
}
.btn {
    color: white!important;
    border-color: white!important;
    border-radius: 0%;
}
.thumbnail-round {
    border-radius: 50%;
    border: 3px solid #0d1c3d;
    width: 200px;
    margin: 2em;
}
.footer {
    flex-shrink: 0;
    /* Set the fixed height of the footer here */
    height: 2em;
    line-height: 60px; /* Vertically center the text there */
    background-color: transparent;
}
.footer-links {
    list-style-type: none; 
    text-align: center;
}
.footer-links li {
    display: inline-block;
    margin: 3%;
    color: white;
    font-family: 'Raleway', 'sans-serif';     
}
#homebtn:hover, #aboutbtn:hover, #portfoliobtn:hover, #hiremebtn:hover {
    background-color: white;
    color: #0d1c3d!important;
}
/* Index Styles */    
.index-toggler {
    background-color: #0d1c3d;
    border-color: white!important;
}
.index-content{
    background-image: url("https://s3.amazonaws.com/chriskieran.com/assets/images/snowbackground-mobile.jpg");
    background-repeat: no-repeat;
    height: 35em;
    background-size: cover;  
    background-position: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1 0 auto;  
}    
.index-heading {
    font-family: 'Libre Barcode 128 Text', 'cursive'; 
    font-size: 50px;  
    color: white; 
    text-align: center; 
    margin-top: 50px;
}

.index-subheading {
    font-family: 'Raleway', 'sans-serif'; 
    font-size: 25px; 
    font-weight:400; 
    color: #0d1c3d; 
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 50%;         
}
/* About Styles */
.about-content{
    background-color: white;
    color: #0d1c3d;  
    font-family: 'Raleway', 'sans-serif';

    padding: 2em;
}
#about-btn-home:hover, #about-btn-about:hover, #about-btn-portfolio:hover, #about-btn-hireme:hover {
    background-color: white;
    color:black!important;
}
.about-toggler {
    border-color: white!important;
}

.skills ul {
    list-style-type: none;
    text-align: center;
}

.about-footer {
    margin-top: 15%;
}
/* portfolio content */
.portfolio-content{   
    position: relative;
    color: white;  
    font-family: 'Raleway', 'sans-serif'; 
}
.portfolio-toggler {
    background-color: #0d1c3d;
    border-color: black!important;
}
.portfolio-navbar-inner {
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.portfolio-heading {
    font-family: 'Raleway', 'sans-serif'; 
    font-size:36px; 
    font-weight:400; 
    color: #0d1c3d; 
    text-align: center;
    padding-top: 1em;
}
.portfolio-subheading {
    font-family: 'Raleway', 'sans-serif'; 
    font-size:18px; 
    font-weight:400; 
    color: #0d1c3d; 
}
.portfolio-thumb {
    height: 150px;
    width: auto;
    border: 2px solid #0d1c3d;
    margin: 1em;
    
}
.porfolio-content {
    display: flex;
    flex-flow: row wrap;   
    justify-content: center;
    text-align: center;
}


/* Contact Styles */
.contact-content{
    background-color: white; 
    font-family: 'Raleway', 'sans-serif'; 
    padding: 3em;
}
.contact-content h1, h2{
    font-size: 150%; 
}

#button-submit {
    background-color: #0d1c3d!important;
}

#button-submit:hover {
    background-color: white!important;
    color: #0d1c3d!important;
}

@media (min-width: 576px) {
    /* Index 576px */
    .index-heading {
    margin-top: 35%;
    font-family: 'Libre Barcode 128 Text', 'cursive';
    color: #0d1c3d;
    font-size: 350%;
    }
    .index-subheading {
        margin-top: 5%;
    }
    /* About 576px */
    .about-content {
        font-size: 120%;
    }
    .about-me {
        font-size: 110%;
    }
    /* Portfolio 576px */
    /* Contact 576 */
}

@media (min-width: 768px) {
    /* Index 768px */
    .index-content{
    background-image: url("https://s3.amazonaws.com/chriskieran.com/assets/images/snowbackground-768.jpg");
    }
    .index-heading {
        margin-top: 20%;
    } 
    .index-subheading{
        font-size: 150%;
        margin-top: 5;
    }
    /*portfolio 768px */
    .portfolio-thumb {
    height: 200px;
    }
    /* Contact 768 */
}

@media (min-width: 992px) { 
    /* Index 992px */
    .index-heading {
        margin-top: 10%;
    } 
    .index-subheading{
        margin-top: 5%;
    }
    /* About 992px */

    .about-me {
        margin: 20% auto;
    }
    .about-footer {
    margin-top: 0%;
    }
    /* Portfolio 992px */
    .portfolio-container {
    width: 90%;
    height: 80%;
    margin: auto;
    }
    .portfolio-subheading {
        font-size: 24px;
    }
    .portfolio-thumb {
        width: 15em;
    }
    /* Contact 992px */
    .contact-email-link {
        color: #0d1c3d;
    }
}

@media (min-width: 1200px) {
    /* Index 1200px */
    .index-content{
    background-image: url("https://s3.amazonaws.com/chriskieran.com/assets/images/snowbackground.jpg");
    }
    .index-heading {
        margin-top: 10%;
        font-size: 500%;
    } 
    .index-subheading{
        margin-top: 10%;
        font-size: 225%;
    }
    /* Portfolio 1200px */
    .portfolio-container {
    width: 70%;
    }
    .portfolio-content{
    background-position-y: 75%;
    }
    /* Contact 1200px */

@media (min-width: 1500px) {
    /* Index 1500px */
    .index-heading {
        margin-top: 4em;
    }
    .index-subheading {
        margin-top: 0;
    }
@media (min-width: 1800px) {
    /* Index 1800px */
    }
}

